@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Playfair+Display&display=swap");

.App {
    text-align: center;
}

h1,
h5 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
}

p {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    letter-spacing: 1px;
}
